@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: "DM Sans", sans-serif;
    /* font-family: "Proxima Nova", system-ui, sans-serif; */
    scroll-behavior: smooth;
  }
}

.inset-border {
  box-shadow: inset 0 0 0 2px black;
}

.triangle-t {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: rgb(239, 124, 0) transparent transparent transparent;
  transform: rotate(0deg);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-8%, -8%);
  z-index: -1;
}

.triangle-b {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 200px 200px;
  border-color: transparent transparent rgb(239, 124, 0) transparent;
  transform: rotate(0deg);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(8%, 8%);
  z-index: -1;
}
